header {
  background-color: #bbb;
  padding: 20px 0;  
}

.logo {
  width: 80px;
}

.container {
  position: relative;
  width: 850px;
  margin: 0 auto;
}

.navbar {
  position: absolute;
  top: 52px;
  right: 0;
}

.navbar li {
  display: inline;
  margin-left: 15px;
}

.navbar a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.navbar a:hover {
  color: #c78c19;
  cursor: pointer;
  text-decoration: underline;
}

.conteudo-principal {
  height: 70vh;
}

.produtos {
  width: 850px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  border: 1px solid black;
  border-radius: 15px;
  width: 30%;
  margin: 0 1.5%;
  padding: 20px 10px;
  font-size: 12px;
}

.produtos li:hover {
  cursor: pointer;
  border: 2px solid #c78c19;
}

.produtos li:hover h2 {
  font-size: 22px;
}

.produtos li:active {
  border-color: #088c19;
}

.produtos h2 {
  font-size: 20px;
  font-weight: bold;
}

.produtos img {
  width: 120px;
}

.produto-descricao {
  font-size: 12px;
}

.produto-preco {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0 0 0;
}

footer {
  text-align: center;
  color: white;
  font-size: 10px;
  background: url("./imagens/bg.jpg");
  padding: 10px 0;
}

footer img {
  width: 50px;
}